<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tajammul's Portfolio</title>
  
</head>

<body>
  <nav class="desktop-nav">
    <div class="logo">Tajammul Khan</div>
    <div>
      <ul class="nav-link">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <section id="profile">
    <div class="profile_pic_container">
      <img src="assets/profile_copy.jpg" alt="profile pic" class="profile_pic" />

    </div>

    <div class="section_text">
      <p class="section_text_p1">Hello I am</p>
      <h1 class="title">Tajammul</h1>
      <p class="section_text_p2">Web Developer</p>

      <div class="btn_container">
        <button class="btn-btn-color_1" onclick="window.open('/assets/Tajammul_fresher_java.docx')">
          Download Resume
        </button>
        <button class="btn-btn-color_2" onclick="location.href= '/#contact'">
          Contact Info
        </button>
      </div>



      <div id="social_container">
        <img src="assets/LinkedIn_Pic.png" alt="linkedIn Profile" class="icon"
          onclick="location.href='https://www.linkedin.com/in/tajammul-khan-1b03032b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app'" />
        <img src="/assets/GitHub Pic.png" alt="git hub  Profile" class="icon"
          onclick="location.href='https://github.com/Tajammul25'" />
      </div>
    </div>
  </section>

  <section id="about">
    <p class="section_text_p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section_container">

      <div class="section_pic_container">
        <img src="assets/about_pic.jpg" alt="profile pic" class="about_pic">
      </div>
      <div class="about_details_container">
        <div class="about_containers">
          <div class="details_container">
            <img src="/assets/education.png/" alt="education pic" class="icon">
            <h3>BCA</h3>
            <p>Bacholer Of Computer Application <br> From savitribai phule pune university </p>
          </div>

          <div class="details_container">
            <img src="/assets/education.png/" alt="education pic" class="icon">
            <h3>Java Full Stack Development Course</h3>
            <p>Frontend And Bakend Development <br> From The Kiran Academy</p>
          </div>

        </div>
        <div class="text_container">
          <p>Hello, My Name Is Tajammul Khan And I Am Web Developer. Looking For opportunity In HTML, CSS, And JavaScript And Angular Framework. I Have Also Good Fundamental Knowledge About Java And Spring Boot, Hibernate Framework. For DataBase I Have Knowledge About SQL And PostMan. I Compeleted My Education In Bacholer of Computer Application And Also Have Course Certificare In Java Full Stack Development.
          </p>
        </div>
      </div>
    </div>
    <img src="assets/arrow.png/" alt="arrow icon" class="arrow" onclick="location.href='#skills'">
  </section>

  <section id="skills">
    <p class="section_text_p1">Explore My</p>
    <h1 class="title">Technical Skills</h1>
    <div class="skills_details_container">
      <div class="about_containers">
        <div class="details_container">
          <h2 class="skills_sub_title">Frontend Development</h2>
          <div class="article_containers">
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>HTMl</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>CSS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>JavaScript</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>Angular</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>Bootstrap</h3>
                <p>Intermediate</p>
              </div>
            </article>
          </div>
        </div>
        <div class="details_container">
          <h2 class="skills_sub_title">Backend Development</h2>
          <div class="article_containers">
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>Core Java</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>Advance Java</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>Spring Boot</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img src="/assets/checkmark.png/" alt="education icon" class="icon">
              <div>
                <h3>Hibernate</h3>
                <p>Basic</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <img src="assets/arrow.png/" alt="arrow icon" class="arrow" onclick="location.href='#project'">

  </section>

  <section id="project">
    <p class="section_text_p1">Browse My Recent</p>
    <h1 class="title">Project</h1>
    <div class="skills_details_container">
      <div class="about_containers">
        <div class="details_container color_container">
          <div class="article_containers">
            <img src="/assets/project1.png/" alt="project 1" class="project1_img">
          </div>
          <h2 class="skills_sub_title project_title">Shopping Quintity Application</h2>
          <div class="btn_container">
            <button class="btn-btn-color_1 project-btn" onclick="location.href='https://github.com/Tajammul25/shopping-Quantity-Application2'">
              Github
            </button>
            <button class="btn-btn-color_1 project-btn" onclick="location.href='https://tajammul25.github.io/shopping-Quantity-Application2/'">
              Live Demo
            </button>
          </div>
        </div>
        <div class="details_container color_container">
          <div class="article_containers">
            <img src="/assets/Tajammul_Portfolio.png/" alt="project 1" class="project2_img">
          </div>
          <h2 class="skills_sub_title project_title">Tajammu's Portfolio</h2>
          <div class="btn_container">
            <button class="btn-btn-color_1 project-btn" onclick="location.href='https://github.com/Tajammul25/Tajammul-Portfolio'">
              Github
            </button>
            <button class="btn-btn-color_1 project-btn" onclick="location.href='https://tajammul25.github.io/Tajammul-Portfolio/'">
              Live Demo
            </button>
          </div>
        </div>
        <!-- <div class="details_container color_container">
          <div class="article_containers">
            <img src="/assets/profile1.png/" alt="project 1" class="project_img">
          </div>
          <h2 class="skills_sub_title project_title">Project One</h2>
          <div class="btn_container">
            <button class="btn-btn-color_1 project-btn" onclick="location.href='https://github.com/'">
              Github
            </button>
            <button class="btn-btn-color_1 project-btn" onclick="location.href='https://github.com/'">
              Live Demo
            </button>
          </div>
        </div> -->
      </div>
    </div>
    <img src="assets/arrow.png/" alt="arrow icon" class="arrow project_arrow" onclick="location.href='#contact'">
  </section>

  <section id="contact">
    <p class="section_text_p1">Get In Touch</p>
    <h1 class="title">Contact Me</h1>
    <div class="contact_info_upper_container">
      <div class="contact_info_container">
        <img src="/assets/email.png/" alt="email logo" class="icon contact_icon email_icon">
        <p><a href="mailto:khan11tajammul@gmailcom">khan11tajammulGmail.com</a></p>
      </div>

      <div class="contact_info_container">
        <img src="/assets/linkedin.png/" alt="linkedIn logo" class="icon contact_icon">
        <p><a href="https://www.linkedin.com/in/tajammul-khan-1b03032b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a></p>
      </div>

    </div>
  </section>

  <footer>
    <nav class="nav_links_containter">
      <div>
        <ul class="nav-link">
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#Project">Project</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
    </nav>
    <p>CopyRights &#169; 2024 Tajammul Khan. All right Reserved</p>
  </footer>
</body>

</html>
